.app--section--header
    .grid-33
        .app--section--heading
            h2 Timeline
    
    .grid-33
        .app--section--heading
            strong #{account_user.following}
            h2 Following
    
    .grid-33
        .app--section--heading
            h2 Direct Messages