extends layout

block state
    body(class="login_body")
        form(class="login_form" action="/login/twitter" method="get")
            //- input(type="text")
            h1 Twitter Interface
            button(type="submit" class="login_btn") Login